vim/vimundo*
vim/vimswap*
vim/vimviews*
**/aliases-manning
**/*private*

bkp/*
bin/.ropeproject*

**/node_modules/

zsh/.zcompdump
zsh/.zsh_history
**/zsh/.config/zsh/.zsh_history
**/zsh/plugins

packages/ghostty/.config/ghostty/config.os

.DS_Store
